[config]
extends=../iemocap.config

seed=42
experiment_name=iemocap_test_stratified_partition


[dataset]
split_protocol=session_disjoint_123_4_5_v1

train_sessions=[1,2,3]
validation_sessions=[4]
test_sessions=[5]


[stage2]
run_name=test_adaptive_isodata


[stage3]
stage2_dir=./local/results/cluster/iemocap/audio_10clients_video_10clients_text_10clients__session_disjoint_123_4_5_v1/adaptive_isodata/test_adaptive_isodata


[partition]
clients_per_modality=10


[fingerprint]
type=hybrid


[cluster]
method=adaptive_isodata
known_k=null


[training]
global_rounds=200
validation_every=10
clients_per_cluster_per_round=4


[evaluation]
run_test=true