[config]
extends=../pamap2.config

seed=42
experiment_name=pamap2_test_stratified_partition


[dataset]
train_subjects=[101,102,103,104,105,106]
validation_subjects=[107,108]
test_subjects=[109]

split_protocol=subject_disjoint_tvt_v2


[stage2]
run_name=test_adaptive_isodata


[stage3]
stage2_dir=./local/results/cluster/pamap2/accelerometer_10clients_gyroscope_10clients_magnetometer_10clients__subject_disjoint_tvt_v2/adaptive_isodata/test_adaptive_isodata


[partition]
clients_per_modality=10


[fingerprint]
type=hybrid


[cluster]
method=adaptive_isodata
known_k=null


[training]
global_rounds=200
validation_every=10
clients_per_cluster_per_round=4


[evaluation]
run_test=true