[config]
extends=iemocap_loso_common.config
experiment_name=iemocap_mmbind_loso_fold2_formal

[dataset]
split_protocol=iemocap_session_loso_fold2_v1
train_sessions=[1,3,4,5]
test_sessions=[2]

[stage2]
stage1_dir=./local/results/partition/iemocap/audio_10clients_video_10clients_text_10clients__iemocap_session_loso_fold2_v1

[stage3]
stage1_dir=./local/results/partition/iemocap/audio_10clients_video_10clients_text_10clients__iemocap_session_loso_fold2_v1
stage2_dir=./local/results/cluster/iemocap/audio_10clients_video_10clients_text_10clients__iemocap_session_loso_fold2_v1/adaptive_isodata/mobilevit_bigru_attention_cls_v1
