[config]
experiment_name=iemocap_msl
base_dir=./results/MSL

[partition]
type=iemocap
clients_per_modality=10

[train]
cluster_assignment_source=pred_cluster
scheduler=balanced_cluster_round_robin
clients_per_cluster_per_round=2
fusion_training_objective=mmbind_weighted_contrastive

[d2d]
enabled=false

[other]
fingerprint_visualization=true
